body {
	margin: 0;
	padding: 0;
	background: url(/imagenes/stardust.png);
	font-family: 'Open Sans';  
}
#contenido { 
	width: 100%;
	padding: 0px 0px 0px 0px;
}
.menu {
	width: 70%; 
	margin: 0px auto;
	padding: 20px 20px 0px 20px;
	background: #FA5858;
}

.menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

.menu li {
	display: inline-block;
}

.menu a {
	display: block; 
	margin: 0px;
	padding: 0px 10px 0px 10px;
	line-height: 60px; 
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	color:#101010;
}

.menu a:hover {
	text-decoration: none; 
	background: #CEE3F6;
}

.imagen_bio{
	width: 100%;
	height: 300px;
	margin: auto;  
}
#biografia{
	width: 190px;
	padding: 15px; 
	display: block;
	margin: auto;
}
main {
	width: 70%;
	margin: 0 auto;
	padding: 0;
	text-align: justify;
	background-color: #FFFFFF;
	overflow: hidden;
}
p{
	padding: 5px 20px 0PX 20px; 
	margin: 0px;
}
h2{   
	margin: 0px;  
	padding: 10px 0px 0px 25px; 
} 
h3, h4{ 
	padding: 5px 0px 0px 25px; 
    height: 30px; 
    margin: 0;   
} 
#pagina{
	margin: 0px;
	padding: 0px 20px 20px 30px;
	overflow: hidden;
}
.borde{
	background-color: #A4A4A4;
}
.lista{
    padding-left: 40px;
    padding-right: 10px;
}
.lista h3{
    padding-left: 0px; 
}
.lista p{
    padding: 0px 20px 0PX 20px;
}
h1{
	margin: 0px auto;
    text-align:  center;    
	margin: 0 0 5px 0;   
	border-block-end: 5px  #F2F2F2; 
	border-block-end-style: solid;  
}
.titulo_c{
    margin: 0px auto;
    text-align:  center;   
	font-size: 25px;  
	margin: 0 0 5px 0;   
	border-block-end: 5px  #F2F2F2; 
	border-block-end-style: solid;  
}
p.comienzo{
    text-align: right;
    white-space: pre;
    padding-bottom: 0px;
} 
 p.dialogo{ 
    white-space: pre-line;
    padding-top: 0px;
}
.inicio_t{
    text-align: center;
}
.columnas{
    overflow: hidden; 
	padding: 0 20PX 0 20PX;;
	font-size: 18px;
}
.columnas ul{
	padding: 0;
} 
.columnas p{
    padding: 0px 10px 10px 15px;
}
.columna1{
    width: 48%;
    float: left;  
}
.columna2{
    width: 48%;
    float: right;  
}
.columnas li{
    list-style: none; 
    padding-left: 10px;
}
.borde_color{
	background: gainsboro;
	border-radius:5px; 
}
footer{
	width: 918px;
    border-top: 0px solid #FFF;
	padding: 10px 25px 10px 10px;
	text-align: right;
    margin: 0 auto;
    color: #FFF;
	background-color: black;
}
@font-face{
    font-family: 'Open Sans';
    src: url(/fuentes/OpenSans-Regular.ttf)
} 




 



